header {
  background: linear-gradient(to right, rgba($primary-bg,0.8), rgba($primary-bg, 0.8)),
              url(../../img/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  nav {
    @include flex-jc-sb;
    border-bottom: 1px solid $secondary-text;
    padding: 15px 0;


    .header-list {
      @include flex-fd-r;
      margin: 0 5vw;
      cursor: pointer;

      .logo {
        height: 47px;
        width: 52px;
      }

      .logo-text {
        @include flex-fd-c;

        .logo-main-text {
          font-size: 2.7rem;
          color: $secondary-text;
        }

        .logo-secondary-text {
          color: $secondary-text;
          font-size: 1.1rem;
        }
      }
    }

    .nav-list {
      @include flex-ai-c;
      margin: 0 2vw;
      // gap: px;

      .nav-item {
        font-size: 1.6rem;
        padding: 7px 12px;
        border-radius: 9px;
        
        &:hover {
          background-color: rgba($secondary-text, .15);
          color: $active-text;
        }
      }
    }
  }

  .header {
    @include flex-jc-sb;
    flex-wrap: wrap-reverse;

    &-content {
      color: $secondary-text;
      margin: 0 5vw;
      
      &-main-message {
        margin-top: 75px;
        font-size: 3.5rem;
        width: 45rem;
      }
      &-support-message {
        font-size: 2rem;
        margin-top: 15px;
        font-weight: 500;
        width: 33.5rem;
        color: #DEDEDE;
        margin-bottom: 30px;
      }

      &-cta {
        font-size: 1.6rem;
        padding: 13px 27px;
        border: 2px solid white;
        border-radius: 66px;
        
        &:hover {
          background-color: $secondary-text;
          color: $primary-bg;
        }
      }

      &-notif-container {
        @include flex-jc-sb;
        align-items: center;
        margin: 50px 0 75px 0;
        width: 40rem;
        background-color: white;
        padding: 10px 15px;
        border-radius: 10px;
        padding: 20px;


        .patients-served, .time-available {
          @include flex;
        }

        .patients-served h1, .time-available h1 {
          color: $primary-text;
          font-weight: 700;
          font-size: 2.5rem;
        }
        .patients-served p, .time-available p {
          color: $gray-text;
          font-weight: 600;
          font-size: 1rem;
          width: 75px;
          margin: auto 0;
        }

        .time-available {
          border-left: 1px solid $primary-text;
          padding: 0 0 0 10px;
        }
      }
    }

    &-monitor {
      height: 500px;
      width: 500px;
      overflow: hidden;
      margin: 0 1vw;
    }
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}